@model List<ShoppingDemoApp.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-Shopping </h1>
                                <h2>Shopping Web App Demo</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Theme/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Theme/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-Shopping </h1>
                                <h2>Shopping Web App Demo</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Theme/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Theme/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-Shopping </h1>
                                <h2>Shopping Web App Demo</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Theme/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="~/Content/Theme/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Sportswear
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a  >Nike </a></li>
                                        <li><a  >Under Armour </a></li>
                                        <li><a  >Adidas </a></li>
                                        <li><a  >Puma</a></li>
                                        <li><a  >ASICS </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Mens
                                    </a>
                                </h4>
                            </div>
                            <div id="mens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a  >Fendi</a></li>
                                        <li><a  >Guess</a></li>
                                        <li><a  >Valentino</a></li>
                                        <li><a  >Dior</a></li>
                                        <li><a  >Versace</a></li>
                                        <li><a  >Armani</a></li>
                                        <li><a  >Prada</a></li>
                                        <li><a  >Dolce and Gabbana</a></li>
                                        <li><a  >Chanel</a></li>
                                        <li><a  >Gucci</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Womens
                                    </a>
                                </h4>
                            </div>
                            <div id="womens" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a  >Fendi</a></li>
                                        <li><a  >Guess</a></li>
                                        <li><a  >Valentino</a></li>
                                        <li><a  >Dior</a></li>
                                        <li><a  >Versace</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Kids</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Fashion</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Households</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Interiors</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Clothing</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Bags</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a  >Shoes</a></h4>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a  > <span class="pull-right">(50)</span>Acne</a></li>
                                <li><a  > <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                <li><a  > <span class="pull-right">(27)</span>Albiro</a></li>
                                <li><a  > <span class="pull-right">(32)</span>Ronhill</a></li>
                                <li><a  > <span class="pull-right">(5)</span>Oddmolly</a></li>
                                <li><a  > <span class="pull-right">(9)</span>Boudestijn</a></li>
                                <li><a  > <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    @{
                        foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@item.ProductDisplayImage" alt="" style="height:230px;"  />
                                            <h2>$@item.Price</h2>
                                            <p>@item.ProductName</p>
                                            <a class="btn btn-default add-to-cart" onclick="AddProductToCart('@item.ProductId')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>$@item.Price</h2>
                                                <p>@item.ProductName</p>
                                                <a class="btn btn-default add-to-cart" onclick="AddProductToCart('@item.ProductId')"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                <a class="btn btn-default add-to-cart" href="@Url.Action("ProductDetails", "Product", new { productId = item.ProductId})"><i class="fa fa-shopping-cart"></i>View Product</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <input type="hidden" id="hdnAddtoCartUrl" value="@Url.Action("AddProductToCart","Product")"/>
                    }
                </div><!--features_items-->
                <!--/category-tab-->

                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/AppJs/ProductList.js"></script>